* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #e7f3f5;
    --secondaryBackground: #02abf1;
    --text: #000000;
    --azulclaro: #acf0f5;
    --teal: #1935b4;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Inter", sans-serif;
}

header {
    padding: 30px;
}
.containerGeral {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.containerTodo {
    display: flex;
    flex-direction: column;
    border: 1.5px solid #d7d7d7;
    border-radius: 10px;
    width: 839px;
    height: 80vh;
}

.stats-container {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.details {
    width: 100%;
}

.details p {
    display: flex;
    text-align: center;
    gap: 5px;
    align-items: center;
    font-size: 12px;
}

#progressBar {
    width: 100%;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 5px;
}

#progress {
    height: 10px;
    background-color: #00a9f2;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.textNumbers {
    padding: 15px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.titulo {
    margin-bottom: 5px;
}
.titulo h1 {
    font-size: 20px;
}

.inputButton {
    display: flex;
    height: 38px;
}

input {
    flex: 1;
    padding-left: 16px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: var(--text);
    border: 1px solid #d7d7d7;
    border-right: none;
}

button {
    width: 35px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #d7d7d7;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d7d7d7;
    font-weight: 100;
    font-size: 25px;
    font-weight: bold;
    outline: none;
    border-left: none;
    transition: 0.3ms;
}
button:hover {
    font-size: 28px;
}

ul.task-list {
    display: block;
    padding: 0 10px;
    column-count: 2;
    column-gap: 20px;
    overflow-y: auto;
    width: 100%;
    list-style-type: none;
}

.taskItem {
    break-inside: avoid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d7d7d7;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task p {
    margin: 0;
    color: var(--text);
}

.icons {
    display: flex;
    gap: 10px;
}

.completed p {
    text-decoration: line-through;
    color: black;
}

.icons img {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: 0.25s;
}
.icons img:hover {
    transform: scale(1.3);
}
